html,body{
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}
.red{
  color: #E74C3C !important;
}
.be-red{
  background-color: rgb(200,50,50);
}
.white{
  color:white;
}
.large-padding{
  padding: 15px 10px;
}
a,a:visited{
  color: inherit;
  text-decoration: none;
}
.field{
  margin-top: 1em;
}
.form-control{
  border: none;
  border-bottom: 1px solid;
  outline: none;
  width: 100%;
  display: block;
  padding: 10px 0px;
  font-size: 1.2em;
}
.top-space{
  margin-top: 1em;
}
